extends layout

block content
    .container

        br
        h1= title
        p= subtitle
        br

        form(method="POST", action="#{action}")

            if type == 'update' || type == 'delete'
                div.form-group
                    label ID del Pedido
                    input.form-control(type="number", name="id_order", id="id_order")
                    small.text-muted(id="passwordHelpInline") Comprobar que existe en http://#{host}/orders/:id
                    br
            if type != 'delete'
                div.form-group
                    label Id Cliente
                    input.form-control(type="text", name="id_customer", id="id_customer")
                    small.text-muted(id="passwordHelpInline") Comprobar que existe en http://#{host}/customers/:id
                    br

                div.form-group
                    label Método de pago
                    input.form-control(type="text", name="payment", id="payment")
                    small.text-muted(id="passwordHelpInline") Por ejemplo:  Paypal, Transferencia bancaria, Cheque, etc.
                    br

                div.form-group
                    label Total del pedido
                    input.form-control(type="number" step=0.01, name="total_paid", id="total_paid")
                    br


            input.btn.btn-primary(type="submit", value="#{btnText}")